/***Main styles****/
html, body{
  margin: 0, 0;
  width: 1400px;
  height: auto;
  background: #1F202B;
}
h2{
  color: #F70074;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: center;
}

p{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

a{
  color: #fff;
  text-decoration: none;
}
div .full-width{
  float: left;
  clear: both;
  padding-bottom: 36px;
}

/****Header styles****/
header{
  color: #fff;
}

header h1{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-top: 15px;
}

header div.full-width{
  height: 40px;
}
header div.half-width{
  float: left;
  width: 50%;
}
nav ul{
  padding-left: 200px;
}
nav ul li{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 15px;
}

/****Intro styles****/
section#intro{
  background: url("../img/hero-background.png");
  background-size: cover;
  margin: 0;
  padding-bottom: 280px;
}
section#intro h3{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  padding-left: 100px;
  padding-top: 300px;
}
span{
  color: #F70074;
}

/****portfolio styles****/
section#portfolio{
  margin-left: 100px;
  margin-bottom: 70px;
}
section#portfolio .half-width{
  width: 45%;
  float: left;
  margin-bottom: 30px;
  margin-left: 18px;
  /*margin-top: 46px;*/
}
section#portfolio h2{
  padding-bottom:46px;
}
section#portfolio img{
  height: 280px;
  width: auto;
  padding-top: 10px;
}

section#portfolio div.project-info{
  width: 45%;
  height: 280px;
}
#portfolio .left{
  float: left;
  clear: both;
}
#portfolio .right{
  margin-left: 25px;
  padding-left: 40px;
}

/****About styles****/

section#about .full-width{
  background: url("../img/about-me.png");
  background-size: cover;
  float: left;
  clear: both;
}
section#about div.about-info{
  font-family: 'Roboto', sans-serif;
  margin-left: 100px;
  padding-top: 26px;
  padding-bottom: 60px;
  font-size: 24px;
  width: 45%;
}
#about h3{
  font-weight: 700;
}
#about p{
  color: #000;
}
/****Footer styles****/
footer#contact.full-width{
  float: left;
  clear: both;
}
div.third-width{
  width: 380px;
  float: left;
  clear: both;
  }
footer#contact.full-width.copy {
  float: left;
  clear: both;
  }
