/***Main styles****/
html, body{
  background: #1F202B;
  height: auto;
  margin: 0, 0;
  width: 1400px;
}

h2{
  color: #F70074;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: lowercase;
}

p{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

a{
  color: #fff;
  text-decoration: none;
}

div .full-width{
  float: left;
  clear: both;
  padding-bottom: 36px;
}

div .half-width{
  float: left;
  width: 50%;
}

div .third-width{
  width: 400px;;
  float: left;
}


/****Header styles****/
header{
  color: #fff;
}

header h1{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 40px;
}

header div.full-width{
  height: 40px;
}

header div.half-width{
  float: left;
  width: 50%;
}

nav ul{
  padding-left: 300px;
}

nav ul li{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 15px;
}


/****Intro styles****/
section#intro{
  background: url("../img/hero-background.png");
  background-size: cover;
  margin: 0;
  padding-bottom: 280px;
}

section#intro h3{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  padding-left: 100px;
  padding-top: 300px;
}

span{
  color: #F70074;
}


/****portfolio styles****/
section#portfolio{
  height: 1500px;
  margin-left: 100px;
  margin-bottom: 70px;
}

section#portfolio .half-width{
  width: 45%;
  float: left;
  margin-bottom: 30px;
  margin-left: 18px;
}

section#portfolio h2{
  padding-bottom:46px;
}

section#portfolio img{
  height: 280px;
  width: auto;
  padding-top: 10px;
}

section#portfolio div.project-info{
  width: 45%;
  height: 280px;
}

#portfolio .left{
  float: left;
  clear: both;
}

#portfolio .right{
  margin-left: 25px;
  padding-left: 40px;
}

/****About styles****/
section#about{
  height: 600px;
}

section#about .full-width{
  background: url("../img/about-me.png");
  background-size: cover;
  float: left;
  clear: both;
}

section#about div.about-info{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-left: 100px;
  padding-top: 26px;
  padding-bottom: 60px;
  width: 45%;
}

#about h3{
  font-weight: 700;
}

#about p{
  color: #000;
}


/****Footer styles****/
footer#contact{
  height: 500px;
}

footer#contact div.full-width{
  width: 100%;
  float: left;
  clear: both;
}

footer#contact div.full-width.social-info{
  width: 100%;
  margin-left: 100px;
}

footer#contact div.third-width{
  width: 400px;;
  float: left;
  padding-right: 10px;
}

footer#contact ul li{
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

i.pe-so-twitter, i.pe-so-github, i.pe-so-linkedin, i.pe-so-codepen{
  color: #F70074;
}

footer#contact p{
  text-align: center;
}

footer#contact div.full-width.copy {
  float: left;
}
